.entry.partners {
  &.one-third {
    .entry-content {
      border-top: 0;
      border-bottom: 0;
    }
  }

  .grid-image {
    border-top: 0;
  }

  .entry-pre-meta {
    background-color: $red;
    .assignment {
      color: $white;
      font-weight: 600;
    }
  }

  .link-button {
    padding: 5px;
    margin-bottom: 0;

    a {
      display: block;
      text-align: center;
    }
  }
}